*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  color: white;
  /*border: 1px solid white;*/
  /*overflow-x: hidden;
  cursor: none;
}
html, body {
  margin: 0;
  height: 100%;
  /*border: 2px solid red;*/
  background-color: black;
}
div {
  font-family: Noto Sans;
  display: flex
}
header {
  height: 20%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
/*////////////////////////////*/
/*////////// MÉTÉO //////////*/
/*//////////////////////////*/

#meteo {
  /* Conteneur icon + villetemp */
  width: 30%
  padding-left: 20px;
  padding-top: 15px;
  border: 10px solid red;
}

#icon {
  padding-left: 30px
  /* Icone météo */
}

#villetemp {
  /* Conteneur ville + temperature */
  padding-left: 20px;
  padding-top: 20px;
  /*border: 2px solid orange*/
  flex-direction: column;
}

.temperature {
  /* Conteneur temperature */
  /*justify-content: center;*/
  float: top;
  /*padding-top: 1px;*/
  height: 30px;
  width: 92px;
}

#temperature {
  /* Texte temperature */
  font-size: 35px;
  justify-content: center;
}

.ville {
  /* Conteneur ville */
  float: bottom;
  padding-top: 10px;
  justify-content: left;
}

#ville {
  /* Text ville */
  padding-top: 10px;
  font-size: 17px;
  padding-top: 10px;
}

.condition {
  /* Conteneur condition */
  float: bottom;
}


/*//////////////////////////////*/
/*////////// HORLOGE //////////*/
/*////////////////////////////*/

#clockdate {
  /* Conteneur clock + date */
  float: right;
  flex-direction: column;
  /*border: 2px solid blue;*/
}

#clock {
  /* Horloge (hh:mm) */
  padding-right: 20px;
  font-size: 100px;
}

#date {
  /* jour + jour dans le mois */
  padding-right: 20px;
  justify-content: center;
  font-size: 20px;
  /*border: solid 1px red;*/
}

/*///////////////////////////*/
/*//////// LAUNCHER ////////*/
/*/////////////////////////*/
.section {
  /*height: 2vh;  */
  flex-direction: column;
  /*border: solid 5px red;*/
}
.launcher1 {
  padding-top: 250px;
  width: 98%;
  justify-content: space-between;
  margin: 0 auto;
  /*padding-top: 50%;*/
  /*border: solid 3px red;*/
}
.launcher2 {
  padding-top: 200px;
  width: 98%;
  justify-content: space-between;
  margin: 0 auto;
  /*padding-top: 50%;*/
  /*border: solid 3px red;*/ 
}
.launcher3 {
  padding-top: 200px;
  width: 98%;
  justify-content: space-between;
  margin: 0 auto;
  /*padding-top: 50%;*/
  /*border: solid 3px red;*/ 
}
.launcher4 {
  padding-top: 200px;
  width: 98%;
  justify-content: space-between;
  margin: 0 auto;
  /*padding-top: 50%;*/
  /*border: solid 3px red;*/ 
}

/*///////////////////////////*/
/*////////// NEWS //////////*/
/*/////////////////////////*/
footer {
  position: absolute;
  bottom: 0;
  height: 15%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}
.news {
  width: 100%;
  justify-content: center;
  /*border: solid 2px red*/
}

#news {
  max-width: 60%;
  text-align: center
  padding: 0 20px 0 20px;
  font-family: Liberation Serif;
  font-size: 30px;
}
